---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me & This Site"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('February 02 2024')}
>
	<p>
		My name is Riley Wilson, and I am an incredibly part time video editor and web developer.
		Most people know me either as the guy named <a href="https://youtube.com/@theltwilson" target="_blank">Lt. Wilson</a> or
		as the guy who made the <a href="https://dashboard.twitch.tv/extensions/z74n08zmes3d4urpt7xvri40ayu8xl" target="_blank">Emote Showcase</a> extension for Twitch.
	</p>

	<p>
		This entire website was created as a space for me to update about things I'm working on and
		is <b>most importantly,</b> a temporary landing page for custom website. This place will likely
		end up becoming a blog of sorts, but for now it's just a place for anything I want to put here.
	</p>

	<p>
		In terms of projects that I've worked on, the biggest one is the Emote Showcase extension for Twitch.
		Ammassing over <b>25,000</b> unique broadcasters that have enabled the extension, and over <b>15,000,000</b>
		unique users across the entire platform. It's been a passion project that I've slowly tapped away at and
		am proud to be actively maintaining it. It makes me feel like I'm actually doing something with my life. <i>(I'm not)</i>
	</p>

	<p>
		Why are you still reading this? This site is temporary and I'm not sure why you're here. Go do something else.
	</p>
</Layout>
